# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.venv/
Pipfile.lock

# Flask
instance/
.webassets-cache

# VSCode
.vscode/

# macOS
.DS_Store

# Environment variables
.env